@charset "UTF-8";

.page-wrapper {
	overflow: hidden;
}

.section {
	position: relative;
	padding: 10px 10%;
	
	text-align: center;

	h2 {
		margin: 0;
		padding: 0;

		font-size: 2.8em;
		font-weight: 400;
	}
	p {
		font-size: 1.3em;
		line-height: 1.5;
	}

	/* Common style for pseudo-elements */
	&::before, &::after {
		position: absolute;
		
		content: '';
		pointer-events: none;
	}

	@media screen and (max-width: $large-screen-up) {
		font-size: 80%;
	}
}
