@charset "UTF-8";

h3 + p {
    margin-top: 0;
}

.section-inline-link {
	position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
    &:hover, &:focus {
    	outline: none;
    }
}


// Link braces-style

.link-braces-container a {
	padding: 0 0.25em;
	font-weight: 500;

	@include prefix((transition: color 0.2s));

	&:hover{
		color: #D6DC28;
		text-decoration: none;
	}
	&::before, &::after {
		position: absolute;
		top: 0;
		font-weight: 100;
		font-size: 150%;
		line-height: 1;
		opacity: 0;
		@include prefix((opacity 0.2s, -webkit-transform 0.2s));
	}
	&::before {
		left: -0.1em;
		content: '[';
		@include prefix((transform: translateX(-100%)));
	}

	&::after {
		right: -0.1em;
		content: ']';
		@include prefix((transform: translateX(100%)));
	}

	&:hover::before, &:hover::after {
		opacity: 1;
		@include prefix((transform: translateX(0)));
	}

}



// Link slideup-style

.link-slideup-container a {
	overflow: hidden;
	font-weight: 500;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: rgba(52,73,94,0.2);
		content: '';
		@include prefix((transition: transform 0.2s));
		@include prefix((transform: translateY(95%)));
	}

	&:hover::before, &:focus::before {
		@include prefix((transform: translateY(0)));
	}
}

	
// Brackets effect for links

.link-bracket-effect a {
	&::before, &::after {
		display: inline-block;
		opacity: 0;
		@include prefix((transition: transform 0.3s));
	}

	&::before {
		margin-right: 10px;
		content: '[';
		@include prefix((transform: translateX(20px)));
	}

	&::after {
		margin-left: 10px;
		content: ']';
		@include prefix((transform: translateX(-20px)));
	}

	&:hover::before, &:hover::after, &:focus::before, &:focus::after {
		opacity: 1;
		@include prefix((transform: translateX(0px)));
	}
}


.clearflix {
	&::before, &:after {
		content: " ";
		display: table;
	}
	 
	&:after {
		clear: both;
	}
}


