@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* General styles and layout */
body {
  border-top: 3px solid #CFE423;
  background: #fff;
  color: #ccc;
  font-family: "Lato", Arial, sans-serif; }

a {
  text-decoration: none;
  color: #2fa0ec; }

h3 + p {
  margin-top: 0; }

.link-braces a, .summary a {
  padding: 0 0.25em;
  font-weight: 500;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.link-braces a:hover, .summary a:hover {
  color: #D6DC28;
  text-decoration: none; }

.link-braces a::before, .summary a::before,
.link-braces a::after, .summary a::after {
  position: absolute;
  top: 0;
  font-weight: 100;
  font-size: 150%;
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s; }

.link-braces a::before, .summary a::before {
  left: -0.1em;
  content: '[';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.link-braces a::after, .summary a::after {
  right: -0.1em;
  content: ']';
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.link-braces a:hover::before, .summary a:hover::before,
.link-braces a:hover::after, .summary a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.link-bracket-effect a::before, footer a::before,
.link-bracket-effect a::after, footer a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }

.link-bracket-effect a::before, footer a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px); }

.link-bracket-effect a::after, footer a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px); }

.link-bracket-effect a:hover::before, footer a:hover::before,
.link-bracket-effect a:hover::after, footer a:hover::after,
.link-bracket-effect a:focus::before, footer a:focus::before,
.link-bracket-effect a:focus::after, footer a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); }

.clearflix::before, .clearflix:after {
  content: " ";
  display: table; }

.clearflix:after {
  clear: both; }

.page-wrapper {
  overflow: hidden; }

.section, .preamble, .explanation, .participation, .benefits, .requirements {
  position: relative;
  padding: 10px 10%;
  padding-bottom: 8em;
  text-align: center;
  /* Common style for pseudo-elements */ }
  .section h2, .preamble h2, .explanation h2, .participation h2, .benefits h2, .requirements h2 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 400; }
  .section p, .preamble p, .explanation p, .participation p, .benefits p, .requirements p {
    font-size: 1.3em;
    line-height: 1.5; }
  .section::before, .preamble::before, .explanation::before, .participation::before, .benefits::before, .requirements::before, .section::after, .preamble::after, .explanation::after, .participation::after, .benefits::after, .requirements::after {
    position: absolute;
    content: '';
    pointer-events: none; }
  @media screen and (max-width: 1201px) {
    .section, .preamble, .explanation, .participation, .benefits, .requirements {
      font-size: 80%; } }

.diagonalizable, .preamble {
  padding-top: 2em;
  background: #2072a7;
  z-index: 1; }
  .diagonalizable::before, .preamble::before, .diagonalizable::after, .preamble::after {
    background: inherit;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  .diagonalizable::before, .preamble::before {
    background: #116094;
    height: 50%;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0; }

.zigzagable::before, .explanation::before, .zigzagable::after, .explanation::after {
  right: 0;
  left: 0;
  z-index: 10;
  display: block;
  height: 90px;
  background-size: 50px 100%; }

.zigzagable::before, .explanation::before {
  top: -90px;
  background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, #e56038));
  background-image: linear-gradient(315deg, #e56038 25%, transparent 25%), linear-gradient(45deg, #e56038 25%, transparent 25%);
  background-position: 50%; }

.zigzagable::after, .explanation::after {
  top: 100%;
  background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #e56038), color-stop(0.25, #e56038));
  background-image: linear-gradient(135deg, #e56038 25%, transparent 25%), linear-gradient(225deg, #e56038 25%, transparent 25%);
  background-position: 50%; }

.inclined-zigzag::before, .requirements::before, .inclined-zigzag::after, .requirements::after {
  left: 0;
  width: 100%;
  height: 50px;
  background-size: 100px 100%; }

.inclined-zigzag::before, .requirements::before {
  top: 0;
  background-image: -webkit-gradient(linear, 0 0, 10% 100%, color-stop(0.5, #b43), color-stop(0.5, #3498db));
  background-image: linear-gradient(15deg, #b43 50%, #3498db 50%); }

.inclined-zigzag::after, .requirements::after {
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 10% 100%, color-stop(0.5, #435a6b), color-stop(0.5, #b43));
  background-image: linear-gradient(15deg, #435a6b 50%, #b43 50%); }

header {
  margin: 0 auto;
  padding: 5.5em 2em 7em;
  background: #3498db;
  color: #fff;
  text-align: right;
  font-family: 'Lato', Arial, sans-serif;
  color: #fff; }
  header > h1 {
    margin: 0;
    font-size: 2.625em;
    line-height: 1.3;
    font-weight: 300; }
  header > h2 {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 90%;
    opacity: 0.65; }

.summary {
  position: absolute;
  margin: 20px 20px 20px 10px;
  width: 40%;
  top: 0;
  left: 0;
  background: inherit;
  color: #ccc; }
  .summary p {
    font: italic 1.1em/2.2 georgia;
    text-align: center;
    padding: 0 0 0.6em 0.1em;
    line-height: 1.5; }
  .summary a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #404d5b;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
    text-decoration: underline; }

.preamble {
  background: #ebe8de;
  color: #ccc; }
  .preamble h3 {
    color: #e56038;
    font-size: 55px;
    font-weight: 100; }
  .preamble p {
    color: #4A463B;
    font-weight: 100; }

.explanation {
  background: #e56038;
  color: #ccc;
  padding-bottom: 5em; }
  .explanation h3 {
    font-weight: lighter;
    font-size: 42px;
    text-transform: uppercase;
    text-decoration: underline; }
  .explanation p {
    font-weight: 100; }

.participation {
  padding-right: 50%;
  background: #fff;
  color: #000;
  padding-bottom: 5em; }
  .participation h3 {
    font-weight: lighter;
    font-size: 42px;
    text-transform: uppercase;
    text-decoration: underline; }
  .participation p {
    font-weight: 100; }
  .participation::before {
    right: 0;
    z-index: 10;
    display: block;
    background: url("../img/button-styles.png") no-repeat;
    content: '';
    height: 100%;
    left: 50%; }

.benefits {
  background: #3498db;
  color: #ccc;
  padding-left: 50%; }
  .benefits h3 {
    color: #fff;
    font-weight: lighter;
    font-size: 42px;
    text-transform: uppercase;
    text-decoration: underline; }
  .benefits p {
    font-weight: 100; }
  .benefits::before {
    left: 0;
    z-index: 10;
    display: block;
    background: url("../img/prism-effect-slider.jpg") no-repeat;
    content: '';
    height: 100%;
    right: 50%; }

.requirements {
  background: #b43;
  color: #ccc; }
  .requirements h3 {
    font-weight: lighter;
    font-size: 42px;
    text-transform: uppercase;
    text-decoration: underline; }
  .requirements p {
    font-weight: 100; }

footer {
  margin: 0 auto;
  padding: 3em;
  background: #435a6b;
  color: #ccc;
  text-align: center; }
  footer a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em; }
    footer a:hover, footer a:focus {
      outline: none; }
